torch>=2.0.0
torchvision
transformers<5
huggingface_hub>=0.34.0,<1.0

imageio
imageio[ffmpeg]
safetensors
einops
sentencepiece
protobuf
modelscope
ftfy
pynvml
pandas
accelerate
peft
lpips
scikit-image
matplotlib
ultralytics
lpips
scikit-image
pandas
diffsynth
pycocotools